body {
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header {
    width: 100%;
    border-radius: 3rem;
    background-color: #ff0000;
    text-align: center;
    /* margin-top: 100%; */
    font-size: 20px;
}